
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

main {
    width: 700px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #f3ebeb;
    border-bottom: none;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* workout page styling */

.wrapper{
    background: url('../images/page-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 40px 20px 10px;
}

.wrapper .form_section{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 8px #00000029;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 15px;
}

.wrapper .form_section .section_title{
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    color: #494949;
}

.form_section .workout_schedule_section{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.workout_schedule_section .column{
    background-color: #E4EFEB;
    padding: 10px;
    flex: 1;
}

.workout_schedule_section .column .flex_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout_schedule_section .flex_section h5{
    color: #589880;
}

.workout_schedule_section .time_section {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
}

.workout_schedule_section .time_section h2{
    font-size: 42px;
}

.workout_schedule_section .time_section h4{
    font-size: 14px;
}

.workout_schedule_section .column p{
    font-size: 10px;
    color: #292929;
}

.count_wrapper{
    background-color: #E4EFEB;
    border: 5px solid #589880;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 45px 35px;
    margin-top: 20px;
}

.count_wrapper .count_child_section{
    flex: 1;
}

.count_wrapper .count_child_section h2{
    font-size: 32px;
}

.count_wrapper .count_child_section p{
    margin: 0;
    color: #589880;
    font-size: 13px;
}

.calculations_container{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.calculations_container .column{
    display: flex;
    justify-content: space-between;
    background-color: #E4EFEB;
    box-shadow: 0px 5px 10px #00000029;
    flex: 1;
    align-items: center;
    padding: 15px 20px;
}

.calculations_container .column h2{
    font-size: 32px;
}

.calculations_container .column p{
    font-size: 13;
    margin: 0;
    text-align: right;
    color: #589880;
}

.next_btn{
    background-color: #589880;
    border: 1px solid #589880;
    color: #fff;
    border-radius: 40px;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
}

/* ipad styling starts */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main {
        width: auto;
    }
    .wrapper{
        padding: 60px 20px 10px;
    }
    .form_section .workout_schedule_section{
        margin-top: 30px !important;
    }
    .count_wrapper{
        margin-top: 30px;
    }
    .calculations_container{
        margin-top: 30px;
    }
    .next_btn{
        margin-top: 30px;
    }
}

.highlighted {
    font-weight: bold; /* Change this to your preferred highlight style */
    color: #589880; /* Change this to your preferred highlight color */
}
.checkmark{
    width: 22px; 
}

a.next_workout {
    text-decoration: none;
    background: #589880;
    padding: 4px;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 5px;
    color: #fff;
}